<%= form_with(model: easyform, local: true) do |form| %>
  <% if easyform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(easyform.errors.count, "error") %> prohibited this easyform from being saved:</h2>

      <ul>
      <% easyform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :receiver %>
    <%= form.text_field :receiver, id: :easyform_receiver %>
  </div>

  <div class="field">
    <%= form.label :form_fields %>
    <%= form.text_field :form_fields, id: :easyform_form_fields %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
