<p id="notice"><%= notice %></p>

<h1>Easyforms</h1>

<table>
  <thead>
    <tr>
      <th>Receiver</th>
      <th>Form fields</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @easyforms.each do |easyform| %>
      <tr>
        <td><%= easyform.receiver %></td>
        <td><%= easyform.form_fields %></td>
        <td><%= link_to 'Show', easyform %></td>
        <td><%= link_to 'Edit', edit_easyform_path(easyform) %></td>
        <td><%= link_to 'Destroy', easyform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Easyform', new_easyform_path %>
