<p id="notice"><%= notice %></p>

<p>
  <strong>Receiver:</strong>
  <%= @easyform.receiver %>
</p>

<p>
  <strong>Form fields:</strong>
  <%= @easyform.form_fields %>
</p>

<%= link_to 'Edit', edit_easyform_path(@easyform) %> |
<%= link_to 'Back', easyforms_path %>
