<!DOCTYPE html>
<html>
    <head>
	<title>ICanbuildyourWebsite</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
    </head>

    <body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>
    </body>
</html>
